body {
	background-color: #3D287A;
	animation: bg_col 20s infinite;
}

body.centre-my-body-nya {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

@keyframes bg_col {
	0% {
		background-color: #3D287A;
	}
	50% {
		background-color: #512B8F; 
	}
	100% {
		background-color: #3D287A;
	}
}
@keyframes bg_col_toblack {
 	100% {
		background-color: #222;
	}
}
@keyframes bg_col_fromblack {
	0% {
		background-color: #222;
	}
 	100% {
		background-color: #3D287A;
	}
}

body.is-black-bg {
	/* avoids using !important */
	animation: bg_col_toblack 0.5s forwards;
	/* background-color: #222; */
}

body.returning-from-black {
	/* avoids using !important */
	animation: bg_col_fromblack 0.5s forwards;
	/* background-color: #222; */
}

* {
	font-family: "FiraSansReg", "Fira Sans", "Helvetica", "Arial", "Seoge UI", sans-serif;
	color: #D8CBF1;
}
code {
	font-family: "Fira Code", "Monaco", "Courier", monospace, sans-serif;
}
.grey_name_chatter {
	color: #222;
}
.ponk_h1 {
	color: #F2508B;
}
h1 {
	color: #F2508B;
}
h2 {
	color: #F17CFC;
}
h3 {
	color: #F17CFC;
}
h4 {
	color: #F17CFC;
}
h5 {
	color: #AA7CFC;
}
h6 {
	color: #AA7CFC;
}

.cursor-pointer {
	cursor: pointer;
}

img {
	max-height: 20rem;
	-webkit-box-shadow: 4px 4px 4px 0px rgba(36,24,33,1);
	-moz-box-shadow: 4px 4px 4px 0px rgba(36,24,33,1);
	box-shadow: 4px 4px 4px 0px rgba(36,24,33,1);
}

/* very much taken from https://css-tricks.com/css-link-hover-effects/ */
a {
	text-decoration: none;
	color: #E2D8F2;
	position: relative;
}

a::before {
	content: "";
	background-color: rgba(249, 160, 175, 0.8);
	position: absolute;
	left: 0;
	margin-bottom: -2px;
	bottom: 3px;
	width: 100%;
	/* height: 20%; */
	height: 4px;
	z-index: -1;
	transition: all .15s ease-in-out;
}

/* override the quite-thick link underline */
a.thin::before {
	content: "";
	background-color: rgba(249, 160, 175, 0.8);
	position: absolute;
	left: 0;
	margin-bottom: -2px;
	bottom: 3px;
	width: 100%;
	/* NOTE: percentage makes height diff with different text */
	/* height: 10%; */
	height: 2px;
	z-index: -1;
	transition: all .15s ease-in-out;
}

a:hover::before {
	background-color: rgba(249, 160, 175, 0.5);
	height: 60%;
}

.center-the-horizons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

li {
	margin-top: 0.2rem;
}

button {
	background-color: #222;
	border: 1px solid #F2508B;
	border-radius: 4px;
	cursor: pointer;
	transition-duration: 0.3s;
}

button.is-black-bg {
	color: #222;
	background-color: #F2508B;
}