@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  vertical-align: baseline;
}
body {
  margin: 0;
  background-color: #fc0ae8;
}
h1 {
  font-size: 5vw;
}
h2 {
  font-size: 4vw;
}
h3 {
  font-size: 3vw;
}
/* Global Header CSS */
h1, h2, h3 {
  text-align: center;
  font-weight: 800;
}
h1, h2, h3, p {
  padding: 0 0 1rem 0;
  margin: 0;
  color: #39ff14;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block
}
img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition:         transform 1s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
}
